

body{
    background-color: white;
    height: 100%;
    margin: 30px;
    font-family: 'Montaga', sans-serif;
    
    
}

.grid{
    width: 100%;
    background-color: #faf6f6;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-template-rows: repeat(3,auto);
  
     
    
    grid-template-areas: "info      header      header"
                         "info      about    academic"
                         "info      programming programming";
                
}
h2{   
    color: black;
   
}

.grid header {
    
    grid-area: header;  
   
    background-color: #1A6CA8;
    z-index: 1;

}
h1{
    display: flex;
    justify-content: center;
    font-size: 50px;
    color: #D6D6D6;

}

.grid .info{
    grid-area: info;
    background-color: #D6D6D6;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    
}
img{
    border-radius: 10%;
    width: 70%;    
}
.l{
    padding-left: 20%;
    
}
.telefon,
.correu,
.direccio{
    display: flex;
    align-items: center;
}
i{
    margin-right: 10px;
}
.languages{
    padding-bottom: 10%;
}
.barCatala, 
.barCastella{
    width: 200px;
    height: 20px;
    background-color: #1A6CA8;
    border-radius: 5px;
}
.barAngles{
    width: 120px;
    height: 20px;
    background-color: #1A6CA8;
    border-radius: 5px;
    position: absolute;
}
.barraBlanca{
    width: 200px;
    height: 20px;
    background-color: white; 
    position: relative;
    border-radius: 5px;
    
}
.container{
    padding-left: 20%;
}
.linia {
    width: 1px; 
    background-color: #000; 
    height: 50%; 
    position: absolute;
    left: calc(55%); 
    top: calc(20%); 
    
}

.about {
    grid-area: about;
    padding-left: 10%;
    position: relative;
   
}
h2{
    font-size: 30px;
}
.containerP{
    width: 50%;
    font-size: 25px;
}
.academic {
    grid-area: academic;
    
}
.trajectoria{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    font-size: 20px;
}
.trajectoria li{
    font-weight: bold;
}
.programming{
    grid-area: programming;
}
.programming h2{
    margin-left: 25%;
    margin-top: 10%;
}

.trajectoria p{
    color: grey;

}
.uni{
    margin-right: 10%;
}
.linia_horizontal {
    width: 76.7%; 
    background-color: #000; 
    height: 1px; 
    position: absolute;
    top: 70%;
    left:21.2%;
}
.a,
.b,
.c{
    display: flex;
    flex-direction: column;
    background-color: #faf6f6;
    font-size: 25px;
    border-radius: 20px;
    border: 5px black solid;
    height: auto;
    width: auto;
    
}
.b,
.a{
    height: 280px;

}
.programacio{
    display: flex;
    justify-content: space-around;
    align-items: center; 
    


}
.programacio p{
    margin-left: 30px;
    line-height: 0;
}
.programacio ul{
    font-weight: bold;
    text-align: center;
    margin-right: 100px; 
    
}
